$highlight-color: #7DC24B;
$nav-color: #344532;

.nav-bar{
    background-color: $nav-color;
}
.nav-timesheet{
    margin: 0px 20px;
    padding: 0px 10px;
    background-color: $highlight-color;
}
.profile-img{
    // margin-left: 500px;
}